#container{
    background-color: aqua;
    width:75%;
    margin: 0 auto;
    max-width: 900px;
}

#topo{
    text-align: center;
    height:100px;
    line-height: 100px;
    margin-bottom: 10px;
}

#menu{
    width:25%;
    float:left;
    background-color:gray;
}

#conteudo{
    float:right;
    width:73%;
}

#left{
    float:left;
    border:1px solid green;
    width:58%;
}

#right{
    border:1px solid red;
    width:40%;
    float:right;
}

.left img{
    width:0;
}