* {
    margin:0;
    padding: 0;
}


body{
    font-family: "trebuchet MS", Helvetica, sans-serif;
    background:#fff url("../imagens/fundo.png") repeat-x;
}

#container{
    width:750px;
    margin: 0 auto;
    
}

#header{
    height:150px;
    background: url(../imagens/detalhe-topo.png) no-repeat right top;
    padding-top: 30px;
}


.logo{
    width:152px;
    height:66px;
    background:url(../imagens/logo.png) no-repeat center;
    text-indent: -3000px;
}

ul{
    margin:0;
    padding:0;
    list-style: none;
}

#header ul{
    margin-top:30px;
    background:#b10333;
    float:left;
}

#header li{
    float:left;
}

#header li a{
    font-size:0.9em;
    display:block;
    padding: 0.2em 6em;
    text-decoration:none;
    line-height: 2.1em;
    color:white;
    background: url(../imagens/divisor.png) no-repeat left center;
}

#header ul .primeiro a{
    background:none;
}

#header li a:hover{
    color:#69001d;
}

body.home #navegacao a#home,
body.brasil #navegacao a#brasil,
body.internacional #navegacao a#internacional,
body.fotos #navegacao a#fotos{
    color:#fff;
    background:#de003e;
    cursor:text;
}


/******Conteudo******/

#conteudo{
    background:#f5f5f5;
    margin-top:60px;
}

#tres-colunas #primario{
    width:270px;
    float:left;
    margin: 0 0 20px 195px;
}

#duas-colunas #primario{
    width:555px;
    float:left;
    margin: 0 0 20px 195px;
}

#uma-colunas #primario{
    width:750px;
    float:left;
    margin: 0 0 20px 0px;
}

#secundario{
    width:270px;
    float:left;
    margin: 0 0 20px 15px;
}

#lateral{
    width:180px;
    float:left;
    margin: 0 0 20px -750px;
}

/******Barra lateral******/

.caixa{
    background:#f3f3f3 url(../imagens/fundo-caixa.png);
    margin:10px 0;
    padding:5px;
}

h2{
    font-size:1em;
    background:#294c71;
    color:#fff;
    padding:5px;
}

.conteudo-caixa{
    background: #fff;
    margin:5px;
    margin-top:5px;
    margin-bottom: 25px;
}

#lateral .conteudo-caixa a{
    text-decoration:none;
    font-size: 0.9em;
    display:block;
    line-height: 30px;
    color:#000;
    border-bottom: 1px solid #f3f3f3;
}

#lateral .conteudo-caixa a:hover{
    color:#a1a1a1;
    background:#f9f9f9 url(../imagens/marcador.png) no-repeat left;
    padding-left: 20px;
}

label{
    display: block;
    cursor: pointer;
}

input{
    font-size:0.9em;
    background-color:#fff;
    padding:5px;
    width:125px;
    margin: 5px 0 5px 0;
}

input.submit{
    width:80px;
    color:#fff;
    background-color:#b10333;
    border:2px solid #870529;
    padding: 5px;
}

/******Conteudo principal******/

img.imagem-principal{
    border:2px solid #dfdfdf;
}

.titulo-destaque{
    text-transform: uppercase;
    display:inline;
    font-size: 0.8em;
    padding:3px;
    background: #b10333;
    color:#fff;
}

.titulo-entrevista{
    text-transform: uppercase;
    display:inline;
    font-size: 0.8em;
    padding:3px;
    background: #de003e;
    color:#fff;
}

/******Lista de Noticias******/

#lista-noticia li{
    padding:2px;
    border-bottom: 1px solid #ccc;
    height:65px;
}

#lista-noticia li a{
    text-decoration: none;
}


#lista-noticia li a img{
    float:left;
    margin:5px;
}

#lista-noticia li a h3{
    font-size:0.8em;
    padding:0;
    color:#3e7ab9;
}

#lista-noticia li a p{
    font-size:0.7em;
    color:black;
}

#lista-noticia li:hover{
    background:#eee;
}

.conteudo-caixa a{
    color:#870529;

}





/******rodape******/

#rodape{
    background:#294c71;
    padding:20px;
    clear:both;
}

#rodape div{
    color:white;
    margin:0 auto;
    width:750px;
    text-align: center;
}



/*   ******** Voltar ************  */

#voltar{
	background-color:white;
	position:fixed;
	border-radius:20px;
	margin:20px;
	border:3px solid black;
}

#voltar p{
	font-size:4em;
	display: inline;
	font-weight: bold;
}

#voltar img{
	display: inline;
	padding: 5px;
}

#voltar a{
	text-decoration: none;
	color:black;
}


